[submodule "cch23-00"]
	path = cch23-00
	url = git@github.com:thor314/cch23-00.git
[submodule "cch23-01"]
	path = cch23-01
	url = git@github.com:thor314/cch23-01.git
[submodule "cch23-04"]
	path = cch23-04
	url = git@github.com:thor314/cch23-04.git
[submodule "cch23-05"]
	path = cch23-05
	url = git@github.com:thor314/cch23-05.git
[submodule "cch23-06"]
	path = cch23-06
	url = git@github.com:thor314/cch23-06.git
[submodule "cch23-07"]
	path = cch23-07
	url = git@github.com:thor314/cch23-07.git
[submodule "cch23-08"]
	path = cch23-08
	url = git@github.com:thor314/cch23-08.git
[submodule "cch23-11"]
	path = cch23-11
	url = git@github.com:thor314/cch23-11.git
[submodule "cch23-12"]
	path = cch23-12
	url = git@github.com:thor314/cch23-12.git
[submodule "cch23-13"]
	path = cch23-13
	url = git@github.com:thor314/cch23-13.git
