[submodule "shuttle-cch23--1"]
	path = shuttle-cch23--1
	url = git@github.com:thor314/shuttle-cch23--1.git
[submodule "shuttle-cch23-1"]
	path = shuttle-cch23-1
	url = git@github.com:thor314/shuttle-cch23-1.git
[submodule "cch23-2"]
	path = cch23-2
	url = git@github.com:thor314/cch23-2.git
[submodule "cch23-4"]
	path = cch23-4
	url = git@github.com:thor314/cch23-4.git
[submodule "cch23-5"]
	path = cch23-5
	url = git@github.com:thor314/cch23-5.git
[submodule "cch23-6"]
	path = cch23-6
	url = git@github.com:thor314/cch23-6.git
[submodule "cch23-7"]
	path = cch23-7
	url = git@github.com:thor314/cch23-7.git
[submodule "cch23-8"]
	path = cch23-8
	url = git@github.com:thor314/cch23-8.git
